   {{#each this}}
 <h1 class="country-box__title">{{name}}</h1>
    <div class="country">
      <div class="country-box__container">
        <ul class="country-box__list">
          <li>Capital: {{capital}}</li>
          <li>Population: {{population}}</li>
          <li>
            Languages:
            <ul>
            {{#each languages}}
              <li>{{this.name}}</li>
               {{/each}}
            </ul>
          </li>
        </ul>
        <div class="country-box__img">
          <img src="{{flag}}"  alt="{{name}}" width="200"></img>
        </div>
      </div>
    </div>
{{/each}}